.map-container {
    /* 
    // --- BACKGROUND ------------------------------------------
    background-image: url('/../assets/background/info.png');
    background-repeat: repeat; 
    background-size: 50px 50px; 
    background-position: top left; 
    width: 100%;
    height: 100vh; // full viewport height 
    */
    // --- GRID ------------------------------------------------
    display: grid;
    gap: 0px;
    padding: 10px;
}

.map-container div {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}