.map-container {
    //background-image: url('/assets/background/info.png');
    //background-size: 50px 50px; 
    //background-repeat: repeat;
    background-color: #424242;
    display: grid;
    gap: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 15px;
}

.map-container div {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}