.map-container {
    display: grid;
    gap: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    //padding: 10px;
}

.map-container div {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}